{{ define "main" }}

  <h1>{{ .Title }}</h1>
  
  {{if isset .Params "featured_image"}}
    <img src="{{ .Params.featured_image }}" alt="gambar">
  {{ end }}

  <section>
    {{ .Content }}
  </section>
  <span>{{ .Date.Format "2006-01-02" }}</span>

  <hr>
  <h6>Tags</h6>
  {{ with .Params.tags }}
    <ul>
      {{ range . }}
        <a href="/tags/{{. | urlize }}">
          {{ . }}
        </a>
      {{ end }}
    </ul>
  {{ end }}

  <div id="disqus_thread"></div>
<script>
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://contoh-5.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{{ end }}